/* ................................common.................. */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}


:root {
    --text-color: black;
    --accent-color: #444646;
    font-size: 18px;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text-color);
}

.btn {
    background-color: var(--accent-color);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 80px;

}

/* .........................header................................................... */
header {
    background-color: #bec5c5;
    max-height: fit-content;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.header-links div a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    font-size: 22px;

}


/* ...........................Search .....................................................*/
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    margin-right: 8px;
    border-color: black;
    height: 25px;
    width: 220px;

}

/* .....................Create.......................................... */


.create {
    margin-top: 100px;
    margin-left: 40%;
    max-width: 300px;
    max-height: fit-content;
    border-style: solid;

}

.create div {
    padding-top: 50px;
    padding-left: 50px;
}

.create .btn {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/* .........................Product List.............. */
.product-card {
    margin-top: 50px;
    border: 1px solid var(--accent-color);
    padding: 5px;
    max-width: 200px;
    max-height: 200px;
}


.edit {
    margin-top: 100px;
    margin-left: 40%;
    max-width: 300px;
    max-height: fit-content;
    border-style: solid;
}


.edit div {
    padding-top: 50px;
    padding-left: 50px;
}

.edit .btn {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}



.products {
    display: flex;
}

.filter-form {
    margin-right: 130px;
    padding-top: 100px;
}

.filter select {
    border-color: black;
    height: 25px;
    width: 220px;
}

hr {
    margin: 30px;
}

.count {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.count-btn {
    margin-left: 50px;
}